In [5]:
%matplotlib inline
%pylab inline
import pandas as pd
import numpy as np
import seaborn as sns
from __future__ import division

Populating the interactive namespace from numpy and matplotlib

In [6]:
pd.read_csv('train.csv')

,AnimalID,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
0,A671945,Hambone,2014-02-12 18:22:00,Return_to_owner,NaN,Dog,Neutered Male,1 year,Shetland Sheepdog Mix,Brown/White
1,A656520,Emily,2013-10-13 12:44:00,Euthanasia,Suffering,Cat,Spayed Female,1 year,Domestic Shorthair Mix,Cream Tabby
2,A686464,Pearce,2015-01-31 12:28:00,Adoption,Foster,Dog,Neutered Male,2 years,Pit Bull Mix,Blue/White
3,A683430,NaN,2014-07-11 19:09:00,Transfer,Partner,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Blue Cream
4,A667013,NaN,2013-11-15 12:52:00,Transfer,Partner,Dog,Neutered Male,2 years,Lhasa Apso/Miniature Poodle,Tan
5,A677334,Elsa,2014-04-25 13:04:00,Transfer,Partner,Dog,Intact Female,1 month,Cairn Terrier/Chihuahua Shorthair,Black/Tan
6,A699218,Jimmy,2015-03-28 13:11:00,Transfer,Partner,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Blue Tabby
7,A701489,NaN,2015-04-30 17:02:00,Transfer,Partner,Cat,Unknown,3 weeks,Domestic Shorthair Mix,Brown Tabby
8,A671784,Lucy,2014-02-04 17:17:00,Adoption,NaN,Dog,Spayed Female,5 months,American Pit Bull Terrier Mix,Red/White
9,A677747,NaN,2014-05-03 07:48:00,Adoption,Offsite,Dog,Spayed Female,1 year,Cairn Terrier,White
10,A668402,NaN,2013-12-05 15:50:00,Transfer,SCRP,Cat,Unknown,2 years,Domestic Shorthair Mix,Black
11,A666320,NaN,2013-11-04 14:48:00,Adoption,NaN,Dog,Spayed Female,2 years,Miniature Schnauzer Mix,Silver
12,A684601,Rocket,2016-02-03 11:27:00,Adoption,Foster,Dog,Neutered Male,4 years,Pit Bull Mix,Brown
13,A704702,Scooter,2015-06-08 16:30:00,Return_to_owner,NaN,Dog,Neutered Male,2 years,Yorkshire Terrier Mix,Black/Red
14,A688584,Preston,2015-11-25 15:00:00,Return_to_owner,NaN,Dog,Neutered Male,1 year,Great Pyrenees Mix,White/Cream
15,A678825,Oliver,2014-07-12 12:10:00,Adoption,Foster,Cat,Neutered Male,3 months,Domestic Shorthair Mix,Orange Tabby/White
16,A678050,NaN,2014-05-03 16:15:00,Transfer,Partner,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Brown Tabby
17,A680028,NaN,2014-06-07 12:54:00,Transfer,Partner,Dog,Intact Female,2 weeks,Pit Bull Mix,Brown/White
18,A679010,Chrissy,2014-05-17 11:32:00,Transfer,Partner,Cat,Intact Female,2 years,Angora Mix,White
19,A684787,Kuma,2014-07-30 17:34:00,Return_to_owner,NaN,Dog,Neutered Male,1 year,Flat Coat Retriever Mix,Black
20,A670658,Anders,2014-01-19 15:03:00,Transfer,Partner,Dog,Intact Male,2 months,Queensland Heeler Mix,Black/White
21,A708812,Munchkin,2015-09-18 15:19:00,Transfer,Partner,Cat,Spayed Female,1 year,Domestic Shorthair Mix,White
22,A705262,Jamaica,2015-08-15 14:22:00,Adoption,NaN,Dog,Spayed Female,2 years,Plott Hound/Boxer,Brown Brindle/White
23,A665781,Quattro,2013-10-28 16:32:00,Adoption,NaN,Dog,Neutered Male,10 months,German Shepherd Mix,Brown/White
24,A676333,Trigger,2014-04-09 17:44:00,Return_to_owner,NaN,Dog,Neutered Male,2 months,German Shepherd Mix,Black/Brown
25,A712750,Olive,2015-10-03 15:44:00,Transfer,Partner,Cat,Intact Female,1 month,Domestic Shorthair Mix,Orange Tabby
26,A718832,Nia,2016-01-15 17:31:00,Adoption,NaN,Dog,Spayed Female,6 months,American Staffordshire Terrier Mix,Chocolate/White
27,A698777,Chloe,2015-03-25 18:50:00,Adoption,NaN,Dog,Spayed Female,5 years,Chihuahua Shorthair Mix,White/Tan
28,A715348,Cymbale,2015-11-21 13:01:00,Adoption,NaN,Cat,Spayed Female,2 months,Domestic Shorthair Mix,Cream Tabby/White
29,A708666,Jax,2015-07-30 14:30:00,Return_to_owner,NaN,Cat,Neutered Male,7 years,Russian Blue Mix,Blue
...,...,...,...,...,...,...,...,...,...,...
26699,A676460,Mario,2014-04-21 14:01:00,Euthanasia,Behavior,Dog,Neutered Male,2 years,American Pit Bull Terrier Mix,White/Black
26700,A704999,Lion,2015-06-15 19:28:00,Return_to_owner,NaN,Dog,Intact Male,10 months,Great Pyrenees/Anatol Shepherd,Tan/Cream
26701,A678842,Ella,2014-06-15 17:41:00,Transfer,Partner,Dog,Intact Female,11 months,Jack Russell Terrier Mix,White/Black
26702,A713637,NaN,2015-10-11 09:42:00,Died,In Kennel,Cat,Spayed Female,2 years,Siamese Mix,Lynx Point
26703,A716670,Mowmow,2015-12-04 12:22:00,Transfer,Partner,Cat,Neutered Male,6 years,Domestic Longhair Mix,Seal Point
26704,A716223,Alice,2015-11-17 17:17:00,Transfer,Partner,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,White/Black
26705,A662498,Grace,2013-10-19 15:34:00,Transfer,Partner,Cat,Intact Female,2 months,Domestic Shorthair Mix,Tortie
26706,A689942,Zoey,2014-10-19 13:29:00,Adoption,NaN,Cat,Spayed Female,2 months,Domestic Shorthair Mix,Black
26707,A682690,NaN,2014-07-01 17:06:00,Euthanasia,Suffering,Cat,Unknown,1 year,Domestic Shorthair Mix,Brown Tabby
26708,A666920,Herbie,2013-11-13 17:32:00,Transfer,Partner,Dog,Neutered Male,2 years,Chihuahua Shorthair Mix,White/Brown
26709,A714386,NaN,2015-10-24 00:00:00,Adoption,NaN,Dog,Spayed Female,1 month,Chihuahua Shorthair Mix,Sable/Buff
26710,A692622,Bonnie,2014-11-24 17:21:00,Transfer,Partner,Dog,Intact Female,1 month,Chihuahua Shorthair/Yorkshire Terrier,Brown/Black
26711,A666284,Sonja,2013-10-30 18:32:00,Transfer,Partner,Dog,Intact Female,1 year,Cocker Spaniel/Dachshund,Buff
26712,A535277,Merlin,2015-04-20 16:04:00,Return_to_owner,NaN,Dog,Neutered Male,12 years,Rat Terrier,Chocolate/Tan
26713,A671169,NaN,2014-01-20 17:37:00,Euthanasia,Suffering,Cat,Intact Female,18 years,Domestic Longhair Mix,Tortie
26714,A679031,Pete,2014-05-31 16:11:00,Adoption,NaN,Cat,Spayed Female,2 months,Domestic Shorthair Mix,Orange Tabby
26715,A708833,Luna,2015-08-05 17:03:00,Adoption,NaN,Dog,Spayed Female,2 months,Pointer Mix,Black/White
26716,A697158,Max,2015-05-02 21:04:00,Adoption,Offsite,Dog,Neutered Male,2 months,Newfoundland Mix,White/Black
26717,A519949,Bella,2014-06-30 17:34:00,Return_to_owner,NaN,Dog,Spayed Female,9 years,Bullmastiff Mix,Black
26718,A701044,NaN,2015-04-28 14:26:00,Adoption,NaN,Dog,Neutered Male,2 months,Siberian Husky/German Shepherd,Black/Tricolor
26719,A707871,NaN,2015-07-20 09:00:00,Transfer,SCRP,Cat,Unknown,2 years,Domestic Shorthair Mix,Brown Tabby/White
26720,A704405,Brownie,2015-07-18 14:08:00,Adoption,NaN,Cat,Spayed Female,2 months,Domestic Shorthair Mix,Brown Tabby
26721,A662019,Green Bean,2014-07-17 09:43:00,Adoption,Foster,Cat,Spayed Female,5 years,Domestic Shorthair Mix,Black
26722,A687056,NaN,2014-08-31 09:00:00,Transfer,SCRP,Cat,Intact Male,5 months,Domestic Shorthair Mix,Orange Tabby
26723,A716997,Zeus,2016-01-29 18:52:00,Adoption,NaN,Dog,Neutered Male,6 years,Staffordshire Mix,Blue/White
26724,A702446,NaN,2015-05-14 11:56:00,Transfer,Partner,Cat,Intact Male,1 month,Domestic Shorthair Mix,Brown Tabby/White
26725,A718934,NaN,2016-01-20 18:59:00,Transfer,SCRP,Cat,Spayed Female,3 months,Domestic Shorthair Mix,Brown Tabby
26726,A698128,Zeus,2015-03-09 13:33:00,Adoption,NaN,Dog,Neutered Male,4 years,Old English Bulldog Mix,White/Tan
26727,A677478,NaN,2014-04-27 12:22:00,Transfer,Partner,Cat,Intact Male,4 weeks,Domestic Shorthair Mix,Black
26728,A706629,NaN,2015-07-02 09:00:00,Transfer,SCRP,Cat,Intact Male,1 year,Domestic Shorthair Mix,Brown Tabby/White

In [8]:
df = pd.read_csv('train.csv')

In [11]:
df['AnimalID'].isnull().sum()

0

In [18]:
def animal_id_to_int(animal_id_str):
    if animal_id_str[0] != 'A':
        print animal_id_str
    return int(animal_id_str[1:])

In [20]:
df['AnimalIDInt'] = df['AnimalID'].map(animal_id_to_int)

In [23]:
df['DateTime'].isnull().sum()

0

In [31]:
import datetime, time
date = datetime.datetime.strptime('2015-05-11 23:59:59', 
                                  '%Y-%m-%d %H:%M:%S')

time.mktime(date.timetuple())

1431377999.0

5

In [32]:
import datetime, time
def date_str2timestamp(line):
    d = datetime.datetime.strptime(line, '%Y-%m-%d %H:%M:%S')
    return int(time.mktime(d.timetuple()))

df['Timestamp'] = df['DateTime'].map(date_str2timestamp)

In [36]:
df[['Timestamp', 'AnimalIDInt']].corr(method='spearman')

             Timestamp  AnimalIDInt
Timestamp     1.000000     0.865783
AnimalIDInt   0.865783     1.000000

In [38]:
set(df['AnimalType'])

{'Cat', 'Dog'}

In [39]:
df['AnimalType'].value_counts(dropna=False)

Dog    15595
Cat    11134
Name: AnimalType, dtype: int64

In [41]:
df['AnimalTypeInt'] = df['AnimalType'].map({'Dog': 1, 'Cat':0})

In [64]:
def age_to_days(line):
    count, modifier = line.split()
    count = int(count)
    if modifier.startswith('year'):
        if count == 0:
            return 181
        return count * 365
    if modifier.startswith('month'):
        return count * 30
    if modifier.startswith('week'):
        return count * 7
    if modifier.startswith('day'):
        return count
    return line

In [55]:
df['AgeuponOutcome'].fillna('1000000 days', inplace=True)

In [69]:
df['AgeuponOutcomeDays'] = df['AgeuponOutcome'].map(age_to_days)

In [75]:
df['SexuponOutcome'].value_counts(dropna=False)

Neutered Male    9779
Spayed Female    8820
Intact Male      3525
Intact Female    3511
Unknown          1094
Name: SexuponOutcome, dtype: int64

In [74]:
df['SexuponOutcome'].fillna('Unknown', inplace=True, )

In [85]:
sex_df = pd.get_dummies(df['SexuponOutcome'])
del(sex_df['Unknown'])

In [88]:
df = pd.concat([df, sex_df], axis=1)

In [89]:
df

,AnimalID,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color,AnimalIDInt,Timestamp,AnimalTypeInt,AgeuponOutcomeDays,Intact Female,Intact Male,Neutered Male,Spayed Female
0,A671945,Hambone,2014-02-12 18:22:00,Return_to_owner,NaN,Dog,Neutered Male,1 year,Shetland Sheepdog Mix,Brown/White,671945,1392214920,1,365,0,0,1,0
1,A656520,Emily,2013-10-13 12:44:00,Euthanasia,Suffering,Cat,Spayed Female,1 year,Domestic Shorthair Mix,Cream Tabby,656520,1381653840,0,365,0,0,0,1
2,A686464,Pearce,2015-01-31 12:28:00,Adoption,Foster,Dog,Neutered Male,2 years,Pit Bull Mix,Blue/White,686464,1422696480,1,730,0,0,1,0
3,A683430,NaN,2014-07-11 19:09:00,Transfer,Partner,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Blue Cream,683430,1405091340,0,21,0,1,0,0
4,A667013,NaN,2013-11-15 12:52:00,Transfer,Partner,Dog,Neutered Male,2 years,Lhasa Apso/Miniature Poodle,Tan,667013,1384505520,1,730,0,0,1,0
5,A677334,Elsa,2014-04-25 13:04:00,Transfer,Partner,Dog,Intact Female,1 month,Cairn Terrier/Chihuahua Shorthair,Black/Tan,677334,1398416640,1,30,1,0,0,0
6,A699218,Jimmy,2015-03-28 13:11:00,Transfer,Partner,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Blue Tabby,699218,1427537460,0,21,0,1,0,0
7,A701489,NaN,2015-04-30 17:02:00,Transfer,Partner,Cat,Unknown,3 weeks,Domestic Shorthair Mix,Brown Tabby,701489,1430402520,0,21,0,0,0,0
8,A671784,Lucy,2014-02-04 17:17:00,Adoption,NaN,Dog,Spayed Female,5 months,American Pit Bull Terrier Mix,Red/White,671784,1391519820,1,150,0,0,0,1
9,A677747,NaN,2014-05-03 07:48:00,Adoption,Offsite,Dog,Spayed Female,1 year,Cairn Terrier,White,677747,1399088880,1,365,0,0,0,1
10,A668402,NaN,2013-12-05 15:50:00,Transfer,SCRP,Cat,Unknown,2 years,Domestic Shorthair Mix,Black,668402,1386244200,0,730,0,0,0,0
11,A666320,NaN,2013-11-04 14:48:00,Adoption,NaN,Dog,Spayed Female,2 years,Miniature Schnauzer Mix,Silver,666320,1383562080,1,730,0,0,0,1
12,A684601,Rocket,2016-02-03 11:27:00,Adoption,Foster,Dog,Neutered Male,4 years,Pit Bull Mix,Brown,684601,1454488020,1,1460,0,0,1,0
13,A704702,Scooter,2015-06-08 16:30:00,Return_to_owner,NaN,Dog,Neutered Male,2 years,Yorkshire Terrier Mix,Black/Red,704702,1433770200,1,730,0,0,1,0
14,A688584,Preston,2015-11-25 15:00:00,Return_to_owner,NaN,Dog,Neutered Male,1 year,Great Pyrenees Mix,White/Cream,688584,1448452800,1,365,0,0,1,0
15,A678825,Oliver,2014-07-12 12:10:00,Adoption,Foster,Cat,Neutered Male,3 months,Domestic Shorthair Mix,Orange Tabby/White,678825,1405152600,0,90,0,0,1,0
16,A678050,NaN,2014-05-03 16:15:00,Transfer,Partner,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Brown Tabby,678050,1399119300,0,21,0,1,0,0
17,A680028,NaN,2014-06-07 12:54:00,Transfer,Partner,Dog,Intact Female,2 weeks,Pit Bull Mix,Brown/White,680028,1402131240,1,14,1,0,0,0
18,A679010,Chrissy,2014-05-17 11:32:00,Transfer,Partner,Cat,Intact Female,2 years,Angora Mix,White,679010,1400311920,0,730,1,0,0,0
19,A684787,Kuma,2014-07-30 17:34:00,Return_to_owner,NaN,Dog,Neutered Male,1 year,Flat Coat Retriever Mix,Black,684787,1406727240,1,365,0,0,1,0
20,A670658,Anders,2014-01-19 15:03:00,Transfer,Partner,Dog,Intact Male,2 months,Queensland Heeler Mix,Black/White,670658,1390129380,1,60,0,1,0,0
21,A708812,Munchkin,2015-09-18 15:19:00,Transfer,Partner,Cat,Spayed Female,1 year,Domestic Shorthair Mix,White,708812,1442578740,0,365,0,0,0,1
22,A705262,Jamaica,2015-08-15 14:22:00,Adoption,NaN,Dog,Spayed Female,2 years,Plott Hound/Boxer,Brown Brindle/White,705262,1439637720,1,730,0,0,0,1
23,A665781,Quattro,2013-10-28 16:32:00,Adoption,NaN,Dog,Neutered Male,10 months,German Shepherd Mix,Brown/White,665781,1382963520,1,300,0,0,1,0
24,A676333,Trigger,2014-04-09 17:44:00,Return_to_owner,NaN,Dog,Neutered Male,2 months,German Shepherd Mix,Black/Brown,676333,1397051040,1,60,0,0,1,0
25,A712750,Olive,2015-10-03 15:44:00,Transfer,Partner,Cat,Intact Female,1 month,Domestic Shorthair Mix,Orange Tabby,712750,1443876240,0,30,1,0,0,0
26,A718832,Nia,2016-01-15 17:31:00,Adoption,NaN,Dog,Spayed Female,6 months,American Staffordshire Terrier Mix,Chocolate/White,718832,1452868260,1,180,0,0,0,1
27,A698777,Chloe,2015-03-25 18:50:00,Adoption,NaN,Dog,Spayed Female,5 years,Chihuahua Shorthair Mix,White/Tan,698777,1427298600,1,1825,0,0,0,1
28,A715348,Cymbale,2015-11-21 13:01:00,Adoption,NaN,Cat,Spayed Female,2 months,Domestic Shorthair Mix,Cream Tabby/White,715348,1448100060,0,60,0,0,0,1
29,A708666,Jax,2015-07-30 14:30:00,Return_to_owner,NaN,Cat,Neutered Male,7 years,Russian Blue Mix,Blue,708666,1438255800,0,2555,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26699,A676460,Mario,2014-04-21 14:01:00,Euthanasia,Behavior,Dog,Neutered Male,2 years,American Pit Bull Terrier Mix,White/Black,676460,1398074460,1,730,0,0,1,0
26700,A704999,Lion,2015-06-15 19:28:00,Return_to_owner,NaN,Dog,Intact Male,10 months,Great Pyrenees/Anatol Shepherd,Tan/Cream,704999,1434385680,1,300,0,1,0,0
26701,A678842,Ella,2014-06-15 17:41:00,Transfer,Partner,Dog,Intact Female,11 months,Jack Russell Terrier Mix,White/Black,678842,1402839660,1,330,1,0,0,0
26702,A713637,NaN,2015-10-11 09:42:00,Died,In Kennel,Cat,Spayed Female,2 years,Siamese Mix,Lynx Point,713637,1444545720,0,730,0,0,0,1
26703,A716670,Mowmow,2015-12-04 12:22:00,Transfer,Partner,Cat,Neutered Male,6 years,Domestic Longhair Mix,Seal Point,716670,1449220920,0,2190,0,0,1,0
26704,A716223,Alice,2015-11-17 17:17:00,Transfer,Partner,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,White/Black,716223,1447769820,0,28,1,0,0,0
26705,A662498,Grace,2013-10-19 15:34:00,Transfer,Partner,Cat,Intact Female,2 months,Domestic Shorthair Mix,Tortie,662498,1382182440,0,60,1,0,0,0
26706,A689942,Zoey,2014-10-19 13:29:00,Adoption,NaN,Cat,Spayed Female,2 months,Domestic Shorthair Mix,Black,689942,1413710940,0,60,0,0,0,1
26707,A682690,NaN,2014-07-01 17:06:00,Euthanasia,Suffering,Cat,Unknown,1 year,Domestic Shorthair Mix,Brown Tabby,682690,1404219960,0,365,0,0,0,0
26708,A666920,Herbie,2013-11-13 17:32:00,Transfer,Partner,Dog,Neutered Male,2 years,Chihuahua Shorthair Mix,White/Brown,666920,1384349520,1,730,0,0,1,0
26709,A714386,NaN,2015-10-24 00:00:00,Adoption,NaN,Dog,Spayed Female,1 month,Chihuahua Shorthair Mix,Sable/Buff,714386,1445634000,1,30,0,0,0,1
26710,A692622,Bonnie,2014-11-24 17:21:00,Transfer,Partner,Dog,Intact Female,1 month,Chihuahua Shorthair/Yorkshire Terrier,Brown/Black,692622,1416838860,1,30,1,0,0,0
26711,A666284,Sonja,2013-10-30 18:32:00,Transfer,Partner,Dog,Intact Female,1 year,Cocker Spaniel/Dachshund,Buff,666284,1383143520,1,365,1,0,0,0
26712,A535277,Merlin,2015-04-20 16:04:00,Return_to_owner,NaN,Dog,Neutered Male,12 years,Rat Terrier,Chocolate/Tan,535277,1429535040,1,4380,0,0,1,0
26713,A671169,NaN,2014-01-20 17:37:00,Euthanasia,Suffering,Cat,Intact Female,18 years,Domestic Longhair Mix,Tortie,671169,1390225020,0,6570,1,0,0,0
26714,A679031,Pete,2014-05-31 16:11:00,Adoption,NaN,Cat,Spayed Female,2 months,Domestic Shorthair Mix,Orange Tabby,679031,1401538260,0,60,0,0,0,1
26715,A708833,Luna,2015-08-05 17:03:00,Adoption,NaN,Dog,Spayed Female,2 months,Pointer Mix,Black/White,708833,1438783380,1,60,0,0,0,1
26716,A697158,Max,2015-05-02 21:04:00,Adoption,Offsite,Dog,Neutered Male,2 months,Newfoundland Mix,White/Black,697158,1430589840,1,60,0,0,1,0
26717,A519949,Bella,2014-06-30 17:34:00,Return_to_owner,NaN,Dog,Spayed Female,9 years,Bullmastiff Mix,Black,519949,1404135240,1,3285,0,0,0,1
26718,A701044,NaN,2015-04-28 14:26:00,Adoption,NaN,Dog,Neutered Male,2 months,Siberian Husky/German Shepherd,Black/Tricolor,701044,1430220360,1,60,0,0,1,0
26719,A707871,NaN,2015-07-20 09:00:00,Transfer,SCRP,Cat,Unknown,2 years,Domestic Shorthair Mix,Brown Tabby/White,707871,1437372000,0,730,0,0,0,0
26720,A704405,Brownie,2015-07-18 14:08:00,Adoption,NaN,Cat,Spayed Female,2 months,Domestic Shorthair Mix,Brown Tabby,704405,1437217680,0,60,0,0,0,1
26721,A662019,Green Bean,2014-07-17 09:43:00,Adoption,Foster,Cat,Spayed Female,5 years,Domestic Shorthair Mix,Black,662019,1405575780,0,1825,0,0,0,1
26722,A687056,NaN,2014-08-31 09:00:00,Transfer,SCRP,Cat,Intact Male,5 months,Domestic Shorthair Mix,Orange Tabby,687056,1409461200,0,150,0,1,0,0
26723,A716997,Zeus,2016-01-29 18:52:00,Adoption,NaN,Dog,Neutered Male,6 years,Staffordshire Mix,Blue/White,716997,1454082720,1,2190,0,0,1,0
26724,A702446,NaN,2015-05-14 11:56:00,Transfer,Partner,Cat,Intact Male,1 month,Domestic Shorthair Mix,Brown Tabby/White,702446,1431593760,0,30,0,1,0,0
26725,A718934,NaN,2016-01-20 18:59:00,Transfer,SCRP,Cat,Spayed Female,3 months,Domestic Shorthair Mix,Brown Tabby,718934,1453305540,0,90,0,0,0,1
26726,A698128,Zeus,2015-03-09 13:33:00,Adoption,NaN,Dog,Neutered Male,4 years,Old English Bulldog Mix,White/Tan,698128,1425897180,1,1460,0,0,1,0
26727,A677478,NaN,2014-04-27 12:22:00,Transfer,Partner,Cat,Intact Male,4 weeks,Domestic Shorthair Mix,Black,677478,1398586920,0,28,0,1,0,0
26728,A706629,NaN,2015-07-02 09:00:00,Transfer,SCRP,Cat,Intact Male,1 year,Domestic Shorthair Mix,Brown Tabby/White,706629,1435816800,0,365,0,1,0,0

In [90]:
from sklearn.ensemble import RandomForestClassifier

In [98]:
rf = RandomForestClassifier(n_estimators=200, random_state=42, 
                            n_jobs=4, oob_score=True)

In [94]:
sex_df.columns

Index([u'Intact Female', u'Intact Male', u'Neutered Male', u'Spayed Female'], dtype='object')

In [100]:
X = df[['AnimalIDInt', 'Timestamp', 
        'AnimalTypeInt', 'AgeuponOutcomeDays'] + list(sex_df.columns)]
y = df['OutcomeType']
rf.fit(X, y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=200, n_jobs=4,
            oob_score=True, random_state=42, verbose=0, warm_start=False)

In [101]:
rf.oob_score_

0.62725878259568257

In [102]:
df['OutcomeType'].value_counts(normalize=True)

Adoption           0.402896
Transfer           0.352501
Return_to_owner    0.179056
Euthanasia         0.058177
Died               0.007370
Name: OutcomeType, dtype: float64

In [104]:
X.columns

Index([u'AnimalIDInt', u'Timestamp', u'AnimalTypeInt', u'AgeuponOutcomeDays',
       u'Intact Female', u'Intact Male', u'Neutered Male', u'Spayed Female'],
      dtype='object')

In [103]:
rf.feature_importances_

array([ 0.3244073 ,  0.31885154,  0.02910023,  0.17871805,  0.04067566,
        0.03613475,  0.03925631,  0.03285616])

In [107]:
X = df[['Timestamp', 
        'AnimalTypeInt', 'AgeuponOutcomeDays'] + list(sex_df.columns)]
rf.fit(X, y)
rf.oob_score_

0.57547981593026298

In [108]:
X = df[['AnimalTypeInt', 'AgeuponOutcomeDays'] + list(sex_df.columns)]
rf.fit(X, y)
rf.oob_score_

0.63451681694040185

In [109]:
rf.feature_importances_

array([ 0.08610742,  0.45603816,  0.13221309,  0.1135242 ,  0.11984009,
        0.09227703])

In [110]:
X = df[['AgeuponOutcomeDays'] + list(sex_df.columns)]
rf.fit(X, y)
rf.oob_score_

0.61667103146395297

In [111]:
X = df[list(sex_df.columns)]
rf.fit(X, y)
rf.oob_score_

0.6078416700961502

In [114]:
X = df[['AnimalTypeInt']]
rf.fit(X, y)
rf.oob_score_

0.4490254031202065

In [115]:
X = df[['AnimalTypeInt']+ list(sex_df.columns)]
rf.fit(X, y)
rf.oob_score_

0.6078416700961502

In [116]:
X = df[['AnimalTypeInt', 'AgeuponOutcomeDays']+ list(sex_df.columns)]
rf.fit(X, y)
rf.oob_score_

0.63451681694040185

In [118]:
X = df[['AnimalTypeInt', 'AgeuponOutcomeDays', 'AnimalIDInt'] + 
       list(sex_df.columns)]
rf.fit(X, y)
rf.oob_score_

0.56777283100751996

In [127]:
X = df[['AnimalTypeInt', 'AgeuponOutcomeDays', 
        'Timestamp', 'AnimalIDInt'] + 
       list(sex_df.columns)]
rf.fit(X, y)
rf.oob_score_

0.62535074263908119

In [121]:
X = df[['AnimalIDInt', 'Timestamp']]
rf.fit(X, y)
rf.oob_score_

0.62744584533652592

In [122]:
rf_entropy = RandomForestClassifier(n_estimators=200, random_state=42, 
                            n_jobs=4, oob_score=True, criterion='entropy')

In [133]:
X = df[['AnimalTypeInt', 'AgeuponOutcomeDays', 
        'Timestamp', 'AnimalIDInt', 'Timestamp', 'AnimalIDInt'] + 
       list(sex_df.columns)]
rf_entropy.fit(X, y)
rf_entropy.oob_score_

0.64577799393916724

In [130]:
X = df[['AnimalTypeInt', 'AgeuponOutcomeDays', 
        'Timestamp'] + 
       list(sex_df.columns)]
rf_entropy.fit(X, y)
rf_entropy.oob_score_

0.57645254218264808

In [131]:
X = df[['AnimalTypeInt', 'AgeuponOutcomeDays',] + 
       list(sex_df.columns)]
rf_entropy.fit(X, y)
rf_entropy.oob_score_

0.63459164203673912

In [136]:
def IsNeutered(line):
    if 'Neutered' in line or 'Spayed ' in line:
        return 1
    if line == 'Unknown':
        return -50
    return 0
    
def IsMale(line):
    if 'Female' in line:
        return 0
    if 'Male' in line:
        return 1
    if line == 'Unknown':
        return -50
    
def IsUnknown(line):
    if line == 'Unknown':
        return 1
    return 0


df['IsNeutered'] = df['SexuponOutcome'].map(IsNeutered)
df['IsMale'] = df['SexuponOutcome'].map(IsMale)
df['IsUnknown'] = df['SexuponOutcome'].map(IsUnknown)

In [138]:
X = df[['AnimalTypeInt', 'AgeuponOutcomeDays', 
        'Timestamp', 'AnimalIDInt', 'Timestamp', 'AnimalIDInt']]
rf_entropy.fit(X, y)
rf_entropy.oob_score_

0.63620038160799131

In [139]:
X = df[['AnimalTypeInt', 'AgeuponOutcomeDays', 
        'Timestamp', 'AnimalIDInt', 'Timestamp', 'AnimalIDInt',
        'IsMale']]
rf_entropy.fit(X, y)
rf_entropy.oob_score_

0.62172172546672155

In [140]:
X = df[['AnimalTypeInt', 'AgeuponOutcomeDays', 
        'Timestamp', 'AnimalIDInt', 'Timestamp', 'AnimalIDInt',
        'IsMale', 'IsNeutered']]
rf_entropy.fit(X, y)
rf_entropy.oob_score_

0.65464476785513859

In [141]:
X = df[['AnimalTypeInt', 'AgeuponOutcomeDays', 
        'Timestamp', 'AnimalIDInt', 'Timestamp', 'AnimalIDInt',
        'IsNeutered']] 
rf_entropy.fit(X, y)
rf_entropy.oob_score_

0.66807587264768609

In [149]:
def date_str2year(line):
    return int(line.split('-')[0])
    
def date_str2month(line):
    return int(line.split('-')[1])

def date_str2day(line):
    return int(line.split('-')[2].split()[0])

def date_str2clock(line):
    hours, minutes = line.split()[1].split(':')[:2]
    return int(minutes) + int(hours) * 60

def date_str2weekday(line):
    return datetime.datetime.strptime(
        line, 
        '%Y-%m-%d %H:%M:%S').weekday()


df['year'] = df['DateTime'].map(date_str2year)
df['month'] = df['DateTime'].map(date_str2month)
df['day'] = df['DateTime'].map(date_str2day)
df['clock'] = df['DateTime'].map(date_str2clock)
df['weekday'] = df['DateTime'].map(date_str2weekday)

In [143]:
X = df[['AnimalTypeInt', 'AgeuponOutcomeDays', 
        'Timestamp', 'AnimalIDInt', 'Timestamp', 'AnimalIDInt',
        'IsNeutered', 'IsUnknown', 'IsMale']]
rf_entropy.fit(X, y)
rf_entropy.oob_score_

0.65700175838976393

In [144]:
X = df[['AnimalTypeInt', 'AgeuponOutcomeDays', 
#         'Timestamp', 'AnimalIDInt', 'Timestamp', 'AnimalIDInt',
        'IsNeutered', 'IsUnknown', 'IsMale']]
rf_entropy.fit(X, y)
rf_entropy.oob_score_

0.63451681694040185

In [146]:
X = df[['AnimalTypeInt', 'AgeuponOutcomeDays', 
        'Timestamp', 'AnimalIDInt', 
        'IsNeutered', 'IsUnknown']]
rf_entropy.fit(X, y)
rf_entropy.oob_score_

0.64633918216169706

In [ ]:
df['IsNeutered'] = df['SexuponOutcome'].map(IsNeutered)
df['IsMale'] = df['SexuponOutcome'].map(IsMale)
df['IsUnknown'] = df['SexuponOutcome'].map(IsUnknown)

In [150]:
X = df[['AnimalTypeInt', 'AgeuponOutcomeDays', 
        'Timestamp', 'AnimalIDInt', 'Timestamp', 'AnimalIDInt',
        'IsNeutered', 'year']] 
rf_entropy.fit(X, y)
rf_entropy.oob_score_

0.67185454001272027

In [152]:
X = df[['AnimalTypeInt', 'AgeuponOutcomeDays', 
        'Timestamp', 'AnimalIDInt', 'Timestamp', 'AnimalIDInt',
        'IsNeutered', 'year', 'month']] 
rf_entropy.fit(X, y)
rf_entropy.oob_score_

0.67005873770062474

In [154]:
X = df[['AnimalTypeInt', 'AgeuponOutcomeDays', 
        'Timestamp', 'AnimalIDInt', 'Timestamp', 'AnimalIDInt',
        'IsNeutered', 'year', 'month', 'day']] 
rf_entropy.fit(X, y)
rf_entropy.oob_score_

0.67870103632758427

In [156]:
X = df[['AnimalTypeInt', 'AgeuponOutcomeDays', 
        'Timestamp', 'AnimalIDInt', 'Timestamp', 'AnimalIDInt',
        'IsNeutered', 'year', 'month', 'day', 'clock']] 
rf_entropy.fit(X, y)
rf_entropy.oob_score_

0.70672303490590749

In [ ]:
for random_state in xrange(20):
    rf = RandomForestClassifier(n_estimators=1000, 
                                random_state=random_state, 
                                n_jobs=8, oob_score=True,
                                criterion='entropy'
                                )
    X = df[['AnimalTypeInt', 'AgeuponOutcomeDays', 
            'Timestamp', 'AnimalIDInt', 'Timestamp', 'AnimalIDInt',
            'Timestamp', 'AnimalIDInt',
            'IsNeutered', 'year', 'month', 'day', 'clock']] 
    rf.fit(X, y)
    print random_state, rf.oob_score_

0 0.711624078716
1 0.71154925362
2 0.711773728909
3 0.711736316361
4 0.710202401886
5 0.711437015975
6 0.71196079165
7 0.712222679487
8 0.712222679487

In [169]:
X = df[['AnimalTypeInt', 'AgeuponOutcomeDays', 
        'Timestamp', 'AnimalIDInt', 'Timestamp', 'AnimalIDInt',
        'Timestamp', 'AnimalIDInt', 'Timestamp', 'AnimalIDInt',
        'IsNeutered', 'year', 'month', 'day', 'clock']] 
rf_entropy.fit(X, y)
rf_entropy.oob_score_

0.71095065284896553

In [157]:
X = df[['AnimalTypeInt', 'AgeuponOutcomeDays', 
        'Timestamp', 'AnimalIDInt', 'Timestamp', 'AnimalIDInt',
        'IsNeutered', 'year', 'month', 'day', 'clock', 'weekday']] 
rf_entropy.fit(X, y)
rf_entropy.oob_score_

0.70548842081634178

In [158]:
X = df[['AnimalTypeInt', 'AgeuponOutcomeDays', 
        'Timestamp', 'AnimalIDInt', 'Timestamp', 'AnimalIDInt',
        'IsNeutered', 'year', 'day', 'clock']] 
rf_entropy.fit(X, y)
rf_entropy.oob_score_

0.70387968124508959

In [161]:
X = df[['AnimalTypeInt', 'AgeuponOutcomeDays', 
        'Timestamp', 'AnimalIDInt', 
        'IsNeutered', 'year', 'month', 'day', 'clock', ]] 
rf_entropy.fit(X, y)
rf_entropy.oob_score_

0.70013842642822399

In [164]:
breed_dict = dict(df['Breed'].value_counts())

In [166]:
df['BreedFreq'] = df['Breed'].map(breed_dict)

In [167]:
X = df[['AnimalTypeInt', 'AgeuponOutcomeDays', 
        'Timestamp', 'AnimalIDInt', 'Timestamp', 'AnimalIDInt',
        'IsNeutered', 'year', 'month', 'day', 'clock', 'BreedFreq']] 
rf_entropy.fit(X, y)
rf_entropy.oob_score_

0.70373003105241494

In [ ]:
X = df[['AnimalTypeInt', 'AgeuponOutcomeDays', 
        'Timestamp', 'AnimalIDInt', 'Timestamp', 'AnimalIDInt',
        'IsNeutered', 'year', 'month', 'day', 'clock', 'BreedFreq']] 
rf_entropy.fit(X, y)
rf_entropy.oob_score_

In [ ]:
0.7067

## Ð—Ð°Ð´Ð°Ð½Ð¸Ðµ:

1) Ð—Ð°Ð¿Ð¾Ð»Ð½Ð¸Ñ‚Ðµ Ð¿Ñ€Ð¾Ð¿ÑƒÑÐºÐ¸. Ð”Ð»Ñ "Ð´Ñ€ÐµÐ²ÐµÑÐ½Ñ‹Ñ…" Ð°Ð»Ð³Ð¾Ñ€Ð¸Ñ‚Ð¼Ð¾Ð², ÐºÐ°Ðº Ð¿Ñ€Ð°Ð²Ð¸Ð»Ð¾, Ð¿Ñ€Ð¾Ð¿ÑƒÑÐºÐ¸ Ð·Ð°Ð¿Ð¾Ð»Ð½ÑÑŽÑ‚ÑÑ Ð½ÐµÑÑƒÑ‰ÐµÑÑ‚Ð²ÑƒÑŽÑ‰Ð¸Ð¼Ð¸ Ð·Ð½Ð°Ñ‡ÐµÐ½Ð¸ÑÐ¼Ð¸, ÐºÐ¾Ñ‚Ð¾Ñ€Ñ‹Ðµ Ð´Ð°Ð»ÐµÐºÐ¾ Ð¾Ñ‚ÑÑ‚Ð¾ÑÑ‚ Ð¾Ñ‚ Ñ€ÐµÐ°Ð»ÑŒÐ½Ñ‹Ñ… Ð·Ð½Ð°Ñ‡ÐµÐ½Ð¸Ð¹.

2) ÐšÐ°Ñ‚ÐµÐ³Ð¾Ñ€Ð¸Ð°Ð»ÑŒÐ½Ñ‹Ðµ Ð¿Ñ€Ð¸Ð·Ð½Ð°ÐºÐ¸ Ð¿Ñ€ÐµÐ¾Ð±Ñ€Ð°Ð·ÑƒÐ¹Ñ‚Ðµ Ñ Ð¿Ð¾Ð¼Ð¾Ñ‰ÑŒÑŽ pd.get_dummies , Ð° Ð»ÑƒÑ‡ÑˆÐµ ÐµÐ³Ð¾ Ð°Ð½Ð°Ð»Ð¾Ð³Ð¾Ð¼  <a href="http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html">OneHotEncoder</a> . ÐŸÑ€Ð¸Ð´ÑƒÐ¼Ð°Ð¹Ñ‚Ðµ, Ñ‡Ñ‚Ð¾ Ð¼Ð¾Ð¶Ð½Ð¾ ÑÐ´ÐµÐ»Ð°Ñ‚ÑŒ Ñ Ñ‚ÐµÐ¼ ÑÐ»ÑƒÑ‡Ð°ÐµÐ¼, ÐºÐ¾Ð³Ð´Ð° get_dummies ÑÐ¾Ð·Ð´Ð°ÐµÑ‚ ÑÐ»Ð¸ÑˆÐºÐ¾Ð¼ Ð¼Ð½Ð¾Ð³Ð¾ ÐºÐ¾Ð»Ð¾Ð½Ð¾Ðº.

2) ÐŸÐ¾ÑÑ‚Ð°Ð²ÑŒÑ‚Ðµ n_estimators=200 Ð¸ Ð½Ð°Ð¹Ð´Ð¸Ñ‚Ðµ Ñ‚Ñƒ ÐºÐ¾Ð¼Ð±Ð¸Ð½Ð°Ñ†Ð¸ÑŽ Ð¿Ñ€Ð¸Ð·Ð½Ð°ÐºÐ¾Ð² Ð² Ð´Ð°Ñ‚Ð°ÑÐµÑ‚Ðµ, ÐºÐ¾Ñ‚Ð¾Ñ€Ð°Ñ Ð´Ð°ÐµÑ‚ Ð»ÑƒÑ‡ÑˆÐ¸Ð¹ Ñ€ÐµÐ·ÑƒÐ»ÑŒÑ‚Ð°Ñ‚.

3) Ð¡ Ð¿Ð¾Ð¼Ð¾Ñ‰ÑŒÑŽ feature\_importances\_  Ð¾Ñ†ÐµÐ½Ð¸Ñ‚Ðµ, ÐºÐ°ÐºÐ¸Ðµ Ð¿Ñ€Ð¸Ð·Ð½Ð°ÐºÐ¸ Ð±Ñ‹Ð»Ð¸ ÑÐ°Ð¼Ñ‹Ð¼Ð¸ Ð²Ð°Ð¶Ð½Ñ‹Ð¼Ð¸ Ð² ÐºÐ»Ð°ÑÑÐ¸Ñ„Ð¸ÐºÐ°Ñ†Ð¸Ð¸

4) ÐŸÐ¾ÑÑ‚Ñ€Ð¾Ð¹Ñ‚Ðµ Ð·Ð°Ð²Ð¸ÑÐ¸Ð¼Ð¾ÑÑ‚ÑŒ oob\_score\_ Ð¾Ñ‚Ð½Ð¾ÑÐ¸Ñ‚ÐµÐ»ÑŒÐ½Ð¾ ÐºÐ¾Ð»Ð¸Ñ‡ÐµÑÑ‚Ð²Ð° Ð´ÐµÑ€ÐµÐ²ÑŒÐµÐ² Ð² Ð»ÐµÑÐµ Ð¸ Ð²Ñ‹Ð±ÐµÑ€ÐµÑ‚Ðµ Ð¾Ð¿Ñ‚Ð¸Ð¼Ð°Ð»ÑŒÐ½Ð¾Ðµ Ð·Ð½Ð°Ñ‡ÐµÐ½Ð¸Ðµ n_estimators

5) ÐŸÐ¾Ð¼ÐµÑ€ÑŒÑ‚Ðµ ÐºÐ°Ñ‡ÐµÑÑ‚Ð²Ð¾ RF Ð½Ð° ÐºÑ€Ð¾ÑÑ-Ð²Ð°Ð»Ð¸Ð´Ð°Ñ†Ð¸Ð¸: <a href="http://scikit-learn.org/stable/modules/generated/sklearn.model_selection.cross_val_score.html">cross_val_score</a> Ð½Ð° 5-Ñ‚Ð¸ Ñ„Ð¾Ð»Ð´Ð°Ñ…. ÐžÑ‚Ð»Ð¸Ñ‡Ð°ÐµÑ‚ÑÑ Ð»Ð¸ ÑÑ€ÐµÐ´Ð½ÐµÐµ Ð·Ð½Ð°Ñ‡ÐµÐ½Ð¸Ðµ Ð¾Ñ‚ oob\_score\_?

#### ÐŸÑ€Ð¾Ð´Ð¾Ð»Ð¶ÐµÐ½Ð¸Ðµ Ð·Ð°Ð´Ð°Ð½Ð¸Ñ Ð´Ð»Ñ kNN:

6) ÐŸÐ¾Ð¿Ñ€Ð¾Ð±ÑƒÐ¹Ñ‚Ðµ Ð¸ÑÐ¿Ð¾Ð»ÑŒÐ·Ð¾Ð²Ð°Ñ‚ÑŒ kNN Ñ Ð¿Ð°Ñ€Ð°Ð¼ÐµÑ‚Ñ€Ð°Ð¼Ð¸ Ð¿Ð¾ ÑƒÐ¼Ð¾Ð»Ñ‡Ð°Ð½Ð¸ÑŽ. Ð§Ñ‚Ð¾Ð±Ñ‹ Ð¿Ð¾Ð¼ÐµÑ€Ð¸Ñ‚ÑŒ ÐºÐ°Ñ‡ÐµÑÑ‚Ð²Ð¾, Ð¼Ð¾Ð¶Ð½Ð¾ Ð¸ÑÐ¿Ð¾Ð»ÑŒÐ·Ð¾Ð²Ð°Ñ‚ÑŒ <a href="http://scikit-learn.org/stable/modules/generated/sklearn.model_selection.cross_val_score.html">cross_val_score</a> Ð½Ð° 5-Ñ‚Ð¸ Ñ„Ð¾Ð»Ð´Ð°Ñ….

7) Ð”Ð»Ñ kNN Ð¿Ñ€Ð¾Ð¿ÑƒÑÐºÐ¸ Ð½ÑƒÐ¶Ð½Ð¾ Ð·Ð°Ð¿Ð¾Ð»ÑÑ‚ÑŒ Ñ‡ÐµÐ¼-Ñ‚Ð¾ Ð±Ð»Ð¸Ð·ÐºÐ¸Ð¼ Ðº Ñ€ÐµÐ°Ð»ÑŒÐ½Ð¾ÑÑ‚Ð¸: Ð½Ð°Ð¿Ñ€Ð¸Ð¼ÐµÑ€, ÑÑ€ÐµÐ´Ð½Ð¸Ð¼ Ð·Ð½Ð°Ñ‡ÐµÐ½Ð¸ÐµÐ¼ Ð¿Ð°Ñ€Ð°Ð¼ÐµÑ‚Ñ€Ð°. Ð­Ñ‚Ð¾ Ð¼Ð¾Ð¶Ð½Ð¾ ÑÐ´ÐµÐ»Ð°Ñ‚ÑŒ Ñ Ð¿Ð¾Ð¼Ð¾Ñ‰ÑŒÑŽ ÐºÐ»Ð°ÑÑÐ° <a href="http://scikit-learn.org/stable/modules/preprocessing.html#imputation-of-missing-values">Imputer</a>. ÐŸÑ€Ð¾Ð²ÐµÑ€ÑŒÑ‚Ðµ, Ð½Ð° ÑÐºÐ¾Ð»ÑŒÐºÐ¾ Ð¾Ñ‚Ð»Ð¸Ñ‡Ð°ÐµÑ‚ÑÑ ÐºÐ°Ñ‡ÐµÑÑ‚Ð²Ð¾ Ð¿Ñ€Ð¸ Ð¸ÑÐ¿Ð¾Ð»ÑŒÐ·Ð¾Ð²Ð°Ð½Ð¸Ð¸ Ñ‚Ð°ÐºÐ¾Ð³Ð¾ Ð¿Ð¾Ð´Ñ…Ð¾Ð´Ð° Ðº Ð·Ð°Ð¿Ð¾Ð»Ð½ÐµÐ½Ð¸ÑŽ Ð¿Ñ€Ð¸Ð·Ð½Ð°ÐºÐ¾Ð².

8) Ð•Ñ‰Ðµ kNN Ð»ÑŽÐ±Ð¸Ñ‚, Ñ‡Ñ‚Ð¾Ð±Ñ‹ Ð¿Ñ€Ð¸Ð·Ð½Ð°ÐºÐ¸ Ð¸Ð¼ÐµÐ»Ð¸ ÑÑ…Ð¾Ð¶Ð¸Ð¹ Ð¼Ð°ÑÑˆÑ‚Ð°Ð±. ÐŸÐ¾Ð¼Ð½Ð¸Ñ‚Ðµ, Ð¼Ñ‹ Ð²Ñ‹Ñ‡Ð¸Ñ‚Ð°Ð»Ð¸ ÑÑ€ÐµÐ´Ð½ÐµÐµ Ð¸ Ð´ÐµÐ»Ð¸Ð»Ð¸ Ð½Ð° std Ð¼Ð°ÑÑÐ¸Ð²? Ð¢Ð°Ðº Ð²Ð¾Ñ‚ Ð´Ð»Ñ ÑÑ‚Ð¾ ÐµÑÑ‚ÑŒ Ð¾Ñ‚Ð´ÐµÐ»ÑŒÐ½Ñ‹Ð¹ ÐºÐ»Ð°ÑÑ: <a href="http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html#sklearn.preprocessing.StandardScaler">sklearn.preprocessing.StandardScaler</a>. ÐŸÑ€Ð¸Ð¼ÐµÐ½Ð¸Ñ‚Ðµ ÑˆÐºÐ°Ð»Ð¸Ñ€Ð¾Ð²Ð°Ð½Ð¸Ðµ. Ð£Ð´Ð°Ð»Ð¾ÑÑŒ Ð»Ð¸ ÑƒÐ»ÑƒÑ‡ÑˆÐ¸Ñ‚ÑŒ ÐºÐ°Ñ‡ÐµÑÑ‚Ð²Ð¾?

9) ÐŸÑ€Ð¾Ð¹Ð´Ð¸Ñ‚ÐµÑÑŒ GridSearch-ÐµÐ¼ Ð¿Ð¾ Ð¿Ð°Ñ€Ð°Ð¼ÐµÑ‚Ñ€Ð°Ð¼ kNN (ÐºÐ¾Ð»Ð¸Ñ‡ÐµÑÑ‚Ð²Ð¾ ÑÐ¾ÑÐµÐ´ÐµÐ¹, Ð¿Ð°Ñ€Ð°Ð¼ÐµÑ‚Ñ€ p Ñƒ Ð¼ÐµÑ‚Ñ€Ð¸ÐºÐ¸ ÐœÐ¸Ð½ÐºÐ¾Ð²ÑÐºÐ¾Ð³Ð¾). ÐšÐ°ÐºÐ¾Ðµ ÐºÐ¾Ð»Ð¸Ñ‡ÐµÑÑ‚Ð²Ð¾ ÑÐ¾ÑÐµÐ´ÐµÐ¹ Ð¾ÐºÐ°Ð·Ð°Ð»Ð¾ÑÑŒ Ð¾Ð¿Ñ‚Ð¸Ð¼Ð°Ð»ÑŒÐ½Ñ‹Ð¼? ÐšÐ°ÐºÐ°Ñ Ð¼ÐµÑ‚Ñ€Ð¸ÐºÐ° Ñ€Ð°ÑÑÑ‚Ð¾ÑÐ½Ð¸Ñ?

10) Ð¡ÐºÐ¾Ñ€ÐµÐµ Ð²ÑÐµÐ³Ð¾ Ñ€ÐµÐ·ÑƒÐ»ÑŒÑ‚Ð°Ñ‚ kNN Ð¿Ð¾Ð»ÑƒÑ‡Ð¸Ð»ÑÑ Ð½Ðµ Ñ‚Ð°ÐºÐ¸Ð¼ Ñ…Ð¾Ñ€Ð¾ÑˆÐ¸Ð¼ ÐºÐ°Ðº Ñƒ RF. Ð’ÑÐµ Ð½Ðµ Ð·Ñ€Ñ! Ð¡ Ð¿Ð¾Ð¼Ð¾Ñ‰ÑŒÑŽ <a href="http://scikit-learn.org/stable/modules/generated/sklearn.model_selection.StratifiedKFold.html"> sklearn.model_selection.StratifiedKFold</a> Ð¼Ð¾Ð¶Ð½Ð¾ ÑÐ³ÐµÐ½ÐµÑ€Ð¸Ñ€Ð¾Ð²Ð°Ñ‚ÑŒ Ñ‚Ñ€ÐµÐ¹Ð½- Ð¸ Ñ‚ÐµÑÑ‚Ð¾Ð²Ñ‹Ðµ Ð²Ñ‹Ð±Ð¾Ñ€ÐºÐ¸. Ð”Ð°Ð²Ð°Ð¹Ñ‚Ðµ Ð¾Ð±ÑƒÑ‡Ð¸Ð¼ÑÑ Ð½Ð° Ñ‚Ñ€ÐµÐ¹Ð½Ðµ Ð¸ Ð¿Ñ€ÐµÐ´ÑÐºÐ°Ð¶ÐµÐ¼ Ð´Ð»Ñ Ñ‚ÐµÑÑ‚Ð°. StratifiedKFold Ð¾Ñ‚Ð´Ð°ÐµÑ‚ Ð¸Ð½Ð´ÐµÐºÑÑ‹ ÑÐ»ÐµÐ¼ÐµÐ½Ñ‚Ð¾Ð² Ð¸Ð· X, ÐºÐ¾Ñ‚Ð¾Ñ€Ñ‹Ðµ Ð¿Ð¾Ð¿Ð°Ð´ÑƒÑ‚ Ð² Ñ‚ÐµÑÑ‚Ð¾Ð²ÑƒÑŽ Ð²Ñ‹Ð±Ð¾Ñ€ÐºÑƒ. Ð”Ð°Ð²Ð°Ð¹Ñ‚Ðµ ÑÐ¾Ð·Ð´Ð°Ð´Ð¸Ð¼ ÐºÐ¾Ð»Ð¾Ð½ÐºÑƒ Ñ€Ð°Ð·Ð¼ÐµÑ€Ð° len(X), Ð³Ð´Ðµ Ð±ÑƒÐ´ÐµÐ¼ Ñ…Ñ€Ð°Ð½Ð¸Ñ‚ÑŒ Ð¿Ñ€ÐµÐ´ÑÐºÐ°Ð·Ð°Ð½Ð¸Ñ kNN Ð¿Ð¾ ÑÐ¾Ð¾Ñ‚Ð²ÐµÑ‚ÑÑ‚Ð²ÑƒÑŽÑ‰Ð¸Ð¼ Ð¸Ð½Ð´ÐµÐºÑÐ°Ð¼. Ð¢Ð°ÐºÐ¸Ð¼ Ð¾Ð±Ñ€Ð°Ð·Ð¾Ð¼ Ð¼Ñ‹ ÑÐ¾Ð·Ð´Ð°Ð´Ð¸Ð¼ Ð½ÐµÑÐ¼ÐµÑ‰ÐµÐ½Ð½Ñ‹Ðµ Ð¾Ñ†ÐµÐ½ÐºÐ¸ Ð°Ð»Ð³Ð¾Ñ€Ð¸Ñ‚Ð¼Ð°, Ð° Ð·Ð½Ð°Ñ‡Ð¸Ñ‚, Ð±ÑƒÐ´ÐµÐ¼ Ð¸Ð¼ÐµÑ‚ÑŒ Ð¿Ð¾Ð»Ð½Ð¾Ðµ Ð¿Ñ€Ð°Ð²Ð¾ Ð¸ÑÐ¿Ð¾Ð»ÑŒÐ·Ð¾Ð²Ð°Ñ‚ÑŒ Ð¸Ñ… ÐºÐ°Ðº Ð²Ñ…Ð¾Ð´Ð½Ñ‹Ðµ Ð´Ð°Ð½Ð½Ñ‹Ðµ Ð´Ð»Ñ RF. ÐŸÐ¾Ð¿Ñ€Ð¾Ð±ÑƒÐ¹Ñ‚Ðµ ÑƒÐ»ÑƒÑ‡ÑˆÐ¸Ñ‚ÑŒ Ñ€ÐµÐ·ÑƒÐ»ÑŒÑ‚Ð°Ñ‚ RF Ð·Ð° ÑÑ‡ÐµÑ‚ ÐºÐ¾Ð»Ð¾Ð½ÐºÐ¸ Ð¿Ñ€ÐµÐ´ÑÐºÐ°Ð·Ð°Ð½Ð¸Ð¹ kNN.

#### Ð˜Ð´ÐµÐ¸ Ð¿Ð¾ ÑƒÐ»ÑƒÑ‡ÑˆÐµÐ½Ð¸ÑŽ ÑÐºÐ¾Ñ€Ð°:

- ÐŸÑ€Ð¸Ð´ÑƒÐ¼Ñ‹Ð²Ð°Ð¹Ñ‚Ðµ Ð½Ð¾Ð²Ñ‹Ðµ Ð¿Ñ€Ð¸Ð·Ð½Ð°ÐºÐ¸! <br>
Ð’Ð°Ð¶Ð½Ð¾ Ð»Ð¸ ÑÐ»Ð¾Ð²Ð¾ mix Ð² Ð¿Ð¾Ñ€Ð¾Ð´Ðµ? <br>
Ð¡ÐºÐ¾Ð»ÑŒÐºÐ¾ ÑÐ»Ð¾Ð² Ð¸ÑÐ¿Ð¾Ð»ÑŒÐ·ÑƒÐµÑ‚ÑÑ Ð² Ð½Ð°Ð·Ð²Ð°Ð½Ð¸Ð¸ Ð¿Ð¾Ñ€Ð¾Ð´Ñ‹? <br>
ÐœÐ¾Ð¶Ð½Ð¾ Ð»Ð¸ ÐºÐ°Ðº-Ñ‚Ð¾ Ð¿Ñ€ÐµÐ¾Ð±Ñ€Ð°Ð·Ð¾Ð²Ð°Ñ‚ÑŒ timestamp? ÐÐ°Ð¿Ñ€Ð¸Ð¼ÐµÑ€, Ð²Ñ‹Ñ‚Ð°Ñ‰Ð¸Ñ‚ÑŒ Ð¸Ð· Ð½ÐµÐ³Ð¾ Ð´ÐµÐ½ÑŒ Ð½ÐµÐ´ÐµÐ»Ð¸, Ð¸Ð»Ð¸ Ð³Ð¾Ð´?<br>
Ð‘ÑƒÐ´ÑŒÑ‚Ðµ Ð¾ÑÑ‚Ð¾Ñ€Ð¾Ð¶Ð½Ñ‹, Ð²ÐµÐ´ÑŒ Ð¿Ñ€Ð¸Ð·Ð½Ð°ÐºÐ¸ Ð¼Ð¾Ð³ÑƒÑ‚ Ð½Ðµ Ñ‚Ð¾Ð»ÑŒÐºÐ¾ ÑƒÐ»ÑƒÑ‡ÑˆÐ°Ñ‚ÑŒ score. <br>
ÐÐµÐºÐ¾Ñ‚Ð¾Ñ€Ñ‹Ðµ Ð¿Ñ€Ð¸Ð·Ð½Ð°ÐºÐ¸ Ñ…Ð¾Ñ€Ð¾ÑˆÐ¾ Ñ€Ð°Ð±Ð¾Ñ‚Ð°ÑŽÑ‚ Ñ‚Ð¾Ð»ÑŒÐºÐ¾ Ð² Ð¿Ð°Ñ€Ðµ.


- ÐŸÐ¾Ð´Ð±Ð¸Ñ€Ð°Ð¹Ñ‚Ðµ Ð³Ð¸Ð¿ÐµÑ€-Ð¿Ð°Ñ€Ð°Ð¼ÐµÑ‚Ñ€Ñ‹ Ð¼Ð¾Ð´ÐµÐ»Ð¸.<br>ÐšÐ°ÐºÐ¾Ð¹ ÐºÑ€Ð¸Ñ‚ÐµÑ€Ð¸Ð¹ Ð¸ÑÐ¿Ð¾Ð»ÑŒÐ·Ð¾Ð²Ð°Ñ‚ÑŒ gini Ð¸Ð»Ð¸ entropy?<br>ÐœÐ¾Ð¶ÐµÑ‚, ÑÑ‚Ð¾Ð¸Ñ‚ Ð½Ðµ Ð´Ð¾ ÐºÐ¾Ð½Ñ†Ð° ÑÑ‚Ñ€Ð¾Ð¸Ñ‚ÑŒ Ð´ÐµÑ€ÐµÐ²ÑŒÑ?